name: "MR pipeline for 'main'"
run-name: ${{ github.actor }} created MR

on:
  # run if pull_request is targeting 'main'
  pull_request:
    types: [closed]
    branches:    
        - main

jobs:
  stg:
    runs-on: ubuntu-latest
    environment: stg
    if: ${{ github.event.pull_request.merged == true }}

    steps:
        - name: Checkout Branch
          uses: actions/checkout@v3
          with:
            ref: main
            token: ${{ secrets.GITHUB_TOKEN }}

        - name: Fetch all branches (including stg)
          run: git fetch origin stg

        - name: Set Git User Identity
          run: |
            git config --global user.email "josh.stromgren@gmail.com"
            git config --global user.name "jstrom40"
        
        - name: Deploy to Staging
          run: |
            echo "Deploying to staging environment..."
            echo "Step 1: Rebase Staging Branch with Main"
            git checkout stg
            git merge main
            echo "Step 2: Push Staging Branch"
            git push
            echo "Deployment to staging completed successfully."

  uat:
    runs-on: ubuntu-latest
    environment: uat
    if: ${{ github.event.pull_request.merged == true }}
    needs: stg

    steps:
        - name: Checkout Branch
          uses: actions/checkout@v3
          with:
            ref: stg
            token: ${{ secrets.GITHUB_TOKEN }}

        - name: Fetch all branches (including stg)
          run: git fetch origin uat

        - name: Set Git User Identity
          run: |
            git config --global user.email "josh.stromgren@gmail.com"
            git config --global user.name "jstrom40"
        
        - name: Deploy to Staging
          run: |
            echo "Deploying to staging environment..."
            echo "Step 1: Rebase Staging Branch with Main"
            git checkout uat
            git merge stg --allow-unrelated-histories
            echo "Step 2: Push Staging Branch"
            git push
            echo "Deployment to staging completed successfully."
  
  prod:
    runs-on: ubuntu-latest
    environment: prod
    if: ${{ github.event.pull_request.merged == true }}
    needs: uat
    
    steps:
      - name: Checkout Branch
        uses: actions/checkout@v3
        with:
          ref: uat
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0
      
      - name: Fetch all branches (including prod)
        run: git fetch origin prod
      
      - name: Set Git User Identity
        run: |
          git config --global user.email "josh.stromgren@gmail.com"
          git config --global user.name "jstrom40"
      
      - name: Deploy to Production
        run: |
          echo "Deploying to production branch..."
          git checkout prod
          git merge uat --allow-unrelated-histories
          git push
          echo "Deployment to production completed successfully."

